<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Detail</title>
    <script src="https://unpkg.com/@hotwired/turbo@7.0.0-beta.1/dist/turbo.es5-umd.js"></script>
    <style>
        textarea {
            width: 200px;
            height: 2rem;
        }
    </style>
</head>
<body>
<h1>{{ room.name }}</h1>
<turbo-frame id="messages">
     <ul>
        {% for message in room.messages.all %}
            {% include "chat/message.html" with message=message only %}
        {% endfor %}
    </ul>
</turbo-frame>
<turbo-frame id="send-message" src="{% url 'send' room.id %}">
</turbo-frame>
</body>
</html>
